body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.icons {
  @apply text-6xl  p-4;
}

.thread-icon {
  transform: scale(0.95);
  transition: transform 0.3s ease;
}

.icons-hover {
  @apply hover:bg-gray-100;
}

.login_div {
  @apply flex flex-col items-center justify-center h-screen bg-white;
}

.login_header {
  @apply text-xl font-bold mb-6 text-center bg-gray-100 p-4 w-full;
}

.login_input {
  @apply w-full px-3 py-2 border rounded-md shadow-sm bg-gray-200;
}

.login_button {
  @apply w-full bg-black text-white py-2 px-4 rounded-md hover:bg-black;
}
